.chat-place {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 10px 0;
    border: 2px solid #a159bd;
    box-shadow: -2px 2px 5px 2px rgba(0, 0, 0, 0.1);
    background-color: rgb(217, 198, 247);
    margin-bottom: 7px;
    transition: background-color 0.3s, transform 0.3s;
    width: 90%;
    margin-left: 2%;
    height: 9vh;
}

.chat-place:hover {
    background-color: rgb(173, 151, 209);
    cursor: pointer;
    transform: scale(1.05);
}


.chat-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid rgb(102, 9, 114);
}

.chat-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-name {
    font-size: 20px;
    font-family: "Rubik";
    font-weight: bold;
    color: rgb(114, 27, 138);
}


.last-sent {
    font-size: 16px;
    margin-left: 5px;
    margin-top: 3px;
    white-space: nowrap;
    overflow: hidden;
}

.chat-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.chat-time {
    font-size: 12px;
    color: rgb(83, 83, 83);
}

.read-status {
    font-size: 18px;
    color: #a159bd;
}