.add-chat {
    background-color: #7b1fa2;
    border: none;
    padding: 10px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(39, 13, 56, 0.514);
    transition: background-color 0.3s ease, transform 0.3s;
    position: fixed;
}

.pulse {
    background-color: #731b99;
    border: none;
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s, transform 0.3s;

}

@keyframes pulse-blue {
    0% {
        transform: scale(1);
        background-color: #731b99;
        box-shadow: 0 2px 5px rgba(39, 13, 56, 0.514);
    }

    50% {
        transform: scale(1.1);
        background-color: #a358c4;
        box-shadow: 0 4px 7px rgba(26, 8, 39, 0.658);
    }

    100% {
        transform: scale(1);
        background-color: #731b99;
        box-shadow: 0 2px 5px rgba(39, 13, 56, 0.514);
    }
}

.add-chat .edit-icon {
    font-size: 38px;
}

.add-chat:hover {
    background-color: #a358c4;
    animation: pulse-blue 1s infinite;
}

.messenger {
    font-size: 30px;
    font-family: monospace;
}

.go-back {
    background-color: #7b1fa2;
    border: none;
    padding: 10px;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    color: white;
    box-shadow: 0 2px 5px rgba(39, 13, 56, 0.514);
    transition: background-color 0.3s ease, transform 0.7s;
}

.go-back:hover {
    background-color: #bc65e0;
    animation: pulse 0.6 infinite;
    transform: rotate(1turn);
}

.go-back .material-icons {
    font-size: 30px;
}

.chatList-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    position: relative;
}

.chat-list {
    height: 100vh;
    margin-top: 10px;
}